@font-face {
    font-family: Somari;
    src: url("fonts/somari-font-new-unicode-characters.otf")
}
body {
background-image: url('backgrounds/patern.png');
background-repeat: repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
font-family: Somari;
font-size: 14;
color: #923404;
text-align: center;
text-shadow: 2px 2px 0px #FCFCFC;
}
