@font-face {
    font-family: Somari;
    src: url("fonts/somari.ttf")
}
body {
background-image: url('backgrounds/main-background.png');
background-attachment: fixed;
background-size: cover;
font-family: Somari;
font-size: 14;
color: rgb(216, 0, 32);
text-align: center;
text-shadow: 2px 2px 0px rgb(252,252,252);
}
