@font-face {
    font-family: Somari;
    src: url("fonts/somari-font-new-unicode-characters.otf")
}
body {
background-image: url('backgrounds/blue-background.png');
background-attachment: fixed;
background-size: cover;
font-family: Somari;
font-size: 14;
color: #F8F8F8;
text-shadow: 2px 2px 0px #0000BF;
}
